.canvasWrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.canvas {
  width: 1000px;
  height: 600px;
  background: #22222a;
  box-shadow: inset 0px 0px 20px 5px rgba(46,58,75,1);
}